* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Oswald', 'Open Sans';
}

.section-first{
    background-size: cover; 
    width: 100%;
    min-height: 740px;
    font-family: 'Oswald';  
}

.section-first h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.28px;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 35px;
    font-family: 'Oswald';
    text-transform: uppercase;
    max-width: 734px;
    margin-left: 31%;
}

.section-first p {
    color: #FFF;
    font-size: 1.12rem;
    text-align: center;
    padding-bottom: 20px;
}

.whiteContainer {
    background: #FFF;
    max-width: 57%;
    min-height: 300px;
    margin-left: 21% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 7%;
    gap: 30px;
}
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Oswald';
    font-size: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7654A;
}

h4 {
    font-family: 'Oswald';
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

h5 {
    font-family: 'Oswald';
    font-size: 1.12rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}
