* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Oswald', 'Open Sans';
}

.section-first{
    background-size: cover; 
    width: 100%;
    min-height: 740px;
    font-family: 'Oswald', sans-serif;  
}

.section-first h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.28px;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
}

.section-first p {
    color: #FFF;
    font-size: 1.12rem;
    text-align: center;
    padding-bottom: 20px;
}

.whiteContainer {
    background: #FFF;
    max-width: 57%;
    min-height: 500px;
    margin-left: 21% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 7%;
    gap: 30px;
    border: none;
}
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Oswald';
    font-size: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7654A;
}

h4 {
    font-family: 'Oswald';
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

h5 {
    font-family: 'Oswald',sans-serif;
    font-size: 1.12rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}

.section-second{
    background: #fff; 
    width: 100%;
    min-height: 1000px;
    font-family: 'Oswald', sans-serif; 
}

.section-second h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20%;
    margin-bottom: 60px;
}

.project-container img{
    width: 100%;
    height: 18vw;
    margin-bottom: 45px;
    background: url(../media/Project.svg);
    background-size: cover;
    
}

.bigContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding-left: 21%;
    padding-right: 21%;
}

.project-container h4{
    color: #404149;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.project-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color:  #999;
    margin-bottom: 200px;
}

hr{
    width: 55px;
    height: 6px;
    background-color: #F7654A;
    border: none;
    margin-bottom: 15px;
}
.project-container{
    max-width: 350px;
}

.sectionRequest{
    background-color: #F7654A;
    width: 100%;
    min-height: 181px ;
}

.div-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div-for-items {
    padding-left: 21%;
    display: grid;
    grid-template-columns: 2;
    padding-right: 10px;

}
.div-for-items h2{
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: start;
    font-weight: 700;
    padding-top: 30px;
    
}

.div-for-items h3{
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.customButton {
    width: 175px;
    height: 49px;
    background: #FFF;
    border: none;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
    margin-right: 21%;
    /* margin-top: 63px; */
    
}
.customButton:hover{
    background-color: antiquewhite;
    transform: scale(1.2);
}

.sectionServices{
    background-color: #FFF;
    width: 100%;
    margin-left: 21%;
    margin-right: 21%;

}

.service_item{
    display: flex;
    width: 57.8%;
    align-items: center;
    gap: 30px;
}

.sectionServices h2{
    color: #000;
    padding-left: 21%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 7.8%;
    margin-bottom: 3.4%;

}
.group{
    max-width: 350px;
    text-align: center;
    background: #F7F7F7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.group img, .group1 img{
    width: 60px;
    height: 40px;
    /* margin-left: 7.5%; */
    background: url('../media/home.svg');
    background-size: cover;
}

.group h4 {
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 3%;
}

.sectionServices1{
    background-color: #FFF;
    width: 100%;
    margin-left: 21%;
    margin-right: 21%;
}

.sectionServices1 h2{
    color: #000;
    padding-left: 21%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 7.8%;
    margin-bottom: 3.4%;

}
.group1 h4{
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 5%;
}

.group1{
    max-width: 350px;
    text-align: center;
    background: #F7F7F7;
    padding-top: 10%;
    padding-bottom: 15%;
}

.service_item1{
    display: grid;
    width: 57.8%;
    grid-template-columns: repeat (3, 1fr);
    grid-template-areas: "a b c" "d e f";
    /* justify-content: space-evenly; */
    gap: 30px;
    padding-bottom: 60px;
}

@media only screen and (min-width: 1201px){
    .section-first h1{
        font-size: 64px;
        padding-right: 20%;
        padding-left: 20%;
        }
    }

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .section-first h1{
        font-size: 52px; 
        padding-right: 10%;
        padding-left: 10%;  
    } 
    .sectionServices h2, 
    .sectionServices1 h2{
        padding-left: 10%;
    }
    .whiteContainer{
        gap: 0;
    }      
}

@media only screen and (min-width: 480px) and (max-width: 787px) {
    .section-first h1{
        font-size: 40px;
        padding-left: 10%;
        padding-right: 10%; 
    }

    .whiteContainer{
        display: block;
    }
     
    .section-second h2{
        padding-left: 5%;
    }
    
    .bicContainer{
        padding-left: 3%;
        padding-right: 3%;
        gap: 3px;
    }
    
    .sectionServices{
        width: 100%;
    }
   
    .sectionServices h2,
    .sectionServices1 h2{
        padding-left: 5%;
    } 
    .div-for-items h2{
        font-size: 2rem;
    }

    .div-items{
        display: block;
    }

    .div-for-items h3{
        font-size: 0.9rem;
    }
    .customButton{
        margin-left: 35%;
        margin-bottom: 5%;
    }

    .service_item{
        gap: 10px
    }

    .group h4,
    .group1 h4{
        font-size: 1rem ;
    }
    }


